/** 
    Atributos globales ordenados
    Por orden alfabetico
**/
*{
    padding: 0em;
    margin: 0em;
    text-decoration: none;
    box-sizing: border-box;
}

h2{
    font-size: 2.5rem;
    color: #fff;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
}

/** 
    Atributos especificos ordenados
    Por orden de aparicion
**/

nav{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    background-color: #ff4d4d;
    padding: 1em;
    display: flex;
    justify-content: center;
    a{
        color: #fff;
        margin-right: 1.5em;
    }
    z-index: 9999;
    
}

header{
    background-color: #7158e2;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5em;
    img{
        width: 20rem;
        height: 20rem;
        margin: auto;
        border-radius: 50%;
        border: 0.3rem solid #fff;

    }
    h1{
        margin-top: 1.5rem;
        font-size: 3rem;
    }
    h3{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

#about{
    color: #fff;
    background-color: #4b4b4b;
    padding-top: 5rem;
    padding-bottom: 5rem;
    p{
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

#skills{
    background-color: #c56cf0;
    color: #fff;
    flex-direction: column;
    h2{
        margin: auto;
        width: 100%;
    }
    .row{
        width: 98%;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        margin-bottom: 1em;
        .colum{
            color: #000;
            border: 1px solid black;
            background: #fff;
            width: 48%;
            margin: auto;
            padding: 1.5em;
        }
    }
}


#conocimientos{
  background:#fff200;
  div{  
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    #con{
      background: #34c2e3;
      width: 20rem;
      height: 25rem;
      margin: 1.5rem;
    }
  }
}

#servicios{
  background: #4b4b4b;
  div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    article{
      width: 20rem;
      height: 25rem;
      margin: 1.5rem;
      border: 1px solid black;
    }
  }
}

footer{
  background: #3ae374;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    article{
      width: 45%;
      display: flex;
      flex-direction: row;
      margin-left: 2rem;
      border: 1px solid black;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      height: 15rem;
      #imm{
        width: 5em;
        height: 3em;
         
      }
    }
  }
}


/** 
    Barras de progreso
**/


.progress-bar {
  background-color: #1a1a1a;
  height: 2rem;
  padding: 0.3rem;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 1rem;         
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out; 
  background-color: #ccc;   
}

/**** GRADIENTS ****/
.blue span {
  background-color: #34c2e3;   
}

.orange span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.turque span {
  background-color: #1ABC9C;
  background-image: linear-gradient(top, #1ABC9C, #16A085);  
}




/**** STRIPES ****/
.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);            

  animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

/**** SHINE ****/
.shine span {
  position: relative;
}

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}

/**** GLOW ****/
.glow span {
  box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
  animation: animate-glow 1s ease-out infinite;          
}

@keyframes animate-glow {
  0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
  50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
  100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}