*{
    margin: 0%;
    padding: 0%;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #1a1a1a;
}
section{
    width: 100%;
    display: flex;
    padding: 2rem;
    max-width: 1920px;
    flex-direction: column;
}
nav{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    
}
nav > a{
    text-decoration: none;
    margin: 0rem 1rem;
}
aside {
    width: 100%;
}
#main{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:url("../img/fondo.png") no-repeat;
}
#foto > img {
    width: 25%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50%;
    display: block;
}
#nombre , #frase {
    margin: auto;
    text-align: center;
}
#nombre{
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
}
#contenido{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}
.circular{
    &,
    &:before,
    &:after{
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }
    margin: 1.5em;
    position: relative;

    &:before, &:after{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

    &:before{
        padding: .5em;
        background: #1a1a1a content-box;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 8rem;
    }
    &:after{
        background: linear-gradient(
            transparent 50%,
            #1a1a1a 50%
         );
         font-size: 1.5rem;
         line-height: 14rem;
    }
}

@function prop($por){
    $deg: $por / 100 * 180;
    @return #{$deg}deg;
}

@mixin  circular-pro($porcen,$skill,$color) {
    $progress : prop($porcen);
    transform: rotate($progress);
    background: linear-gradient(
        0deg,
        $color 50%,
        rgba($color,.2) 50%
    );
    &:before , &:after{
        color: $color;
    }
    &:before{
        content: "#{$skill}";
        transform: rotate(-#{$progress});
        text-transform: uppercase;
    }
    &:after{
        content: "#{$porcen}%";
        transform: scale(1.1) rotate(-#{$progress});
    }
}

#contenskilp{
    display: flex;
    flex-wrap: wrap;

}

.html{
    @include circular-pro(
        85,
        html5,
        orange,
    );

}
.css{
    @include circular-pro(
        80,
        css,
        red,
    );

}
.js{
    @include circular-pro(
        60,
        js,
        green,
    );

}
.php{
    @include circular-pro(
        60,
        php,
        #0e0e81,
    );

}
.sass{
    @include circular-pro(
        60,
        sass,
        #f513cf,
    );

}
.jade{
    @include circular-pro(
        60,
        jade,
        #05b805,
    );

}
.java{
    @include circular-pro(
        60,
        java,
        #8a0202,
    );

}
#Personales{
    margin: auto;
    width: 98%;
}
#skillpe{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skp{
    padding: 0.5em;
    margin-top: 1em;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    & > h6{
        margin-right: 1em;
        font-size: 1em;
    }
}

.bar{
    background-color: #0c0b0b;
    width: 60%;
    height: 3em;
    padding: 0.4em;
    border-radius: 0em 0.6em 0.6em 0em;
}
.GE {
    display: inline-block;
    width: 80%;
    background: #d11d1d;
    height: 100%;
    border-radius: 0em 0.2em 0.2em 0em;
}
.TE {
    display: inline-block;
    width: 90%;
    background: #1d20d1;
    height: 100%;
    border-radius: 0em 0.2em 0.2em 0em;
}
.CI {
    display: inline-block;
    width: 80%;
    background: #1b7500;
    height: 100%;
    border-radius: 0em 0.2em 0.2em 0em;
    
}
.TP {
    display: inline-block;
    width: 98%;
    background: #d2b11c;
    height: 100%;
}
.CC {
    display: inline-block;
    width: 100%;
    background: #87008b;
    height: 100%;
}

.AF {
    display: inline-block;
    width: 95%;
    background: #1cd2ba;
    height: 100%;
}
.OL {
    display: inline-block;
    width: 90%;
    background: #919191;
    height: 100%;
}
.IO {
    display: inline-block;
    width: 100%;
    background: #bb4b00;
    height: 100%;
}
.RP {
    display: inline-block;
    width: 100%;
    background: #55021d;
    height: 100%;
}
.CDC {
    display: inline-block;
    width: 85%;
    background: #003cff;
    height: 100%;
}
.PO {
    display: inline-block;
    width: 85%;
    background: #ff3c00;
    height: 100%;
}
.OR {
    display: inline-block;
    width: 95%;
    background: #ff629e;
    height: 100%;
}


#redes{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.icon{
    height: 5em;
    width: 5em;


}
#exp{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: space-around; 
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
    color: #000;
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 2em;
    border-radius: 1em;
	background: #979797;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    & h2{
        text-align: center;
    }
    & p {
        text-align: justify;
        margin-top: 0.8em;
    }
}
.close {
	background: #ff960c;
	color: rgb(255, 255, 255);
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ff0000; }

#contenidoSer{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    padding: 0.9em;
    color: #fff;
    border-radius: 0.6em;
    min-width: 9em;
    text-align: center;
    border: 1px solid #fff;

}
.btn-red{
    background-color: #8a0202;
    &:hover{
        background-color: #c40000;
    }
}

.btn-blue{
    background-color: #26028a;
    &:hover{
        background-color: #3600cc;
    }
}

footer{
    text-align: center;
    background-color: #3f3f3f;
}

@media (max-width: 768px) {
  nav{
      display: none;
  }

  #contenskilp{
      flex-direction: column;
      & > div{
          margin: auto;
          &:first-child{
              margin-top: 1em;
          }
      }
  }

  #skillpe{
      flex-direction: column;
      width: 100%;
  }
  .skp{
      width: 100%;
  }
  .bar{
      width: 95%;
  }
  #nombre{
      font-size: 1.5rem;
  }
  #frase{
      font-size: 0.9rem;
  }
  #exp, #contenidoSer{
    flex-direction: column;
    width: 100%;
    margin: auto;
    & > a {margin-top: 2em;}
  }
  #redes > a{
      margin: 2em;
  }
}